<template>
    <v-card tile  class="child" fill-height  :style="{backgroundColor:color}" v-on:click="callback" >
          <v-row class='color '>  
            <v-col cols="12" class="py-1 year"> 
              {{ year }}  
            </v-col>
          </v-row>                          
          <v-row class='color centered-desc'>            
            <v-col cols="12" class="py-1 "> 
              <div class='title-desd'>
                {{ title }}       
              </div>
              <div class='subtitle-desc'>
                {{ subtitle }}                                 
              </div>  
            </v-col>            
          </v-row> 
          <v-row class='color'>  
            <v-col cols="12" class="py-1 pantone"> 
              {{ pantoneValue }}
            </v-col>  
          </v-row>              
    </v-card>
</template>
<script>
  export default {
    name: 'Color',

    props: {
        title: String,
        subtitle: String,
        color: {
          type:String,
          default: '#fff'    
        },
        id: String,
        year: Number,
        pantoneValue: String
    },
    data: () => ({
      
    }),
    methods: {
        callback () {
            this.$emit('callback',{
                color: this.color,
                year: this.year,
                pantoneValue: this.pantoneValue,
                id: this.id
            })
        }
    }
  }
</script>
<style>

.child {
  flex: 1 0 32%; 
  margin: 5px;
  border-radius:5px !important; 
  max-height:32%;
  padding-left:5px;
  padding-right:5px;  
  display: block;
}

.color {
  height:33%;
}

.year {
    text-shadow: 1px 1px 2px #000;
    color: #fff;
}
.centered-desc {
  align-content: space-evenly;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
    color: #fff;  
}
.subtitle-desc {
  font-weight:800;
}
.pantone {
  text-align: end;
  align-self: flex-end;
  text-shadow: 1px 1px 2px #000;
    color: #fff;
}
</style>