<template>
    <div class="parent-wrapper">
      <div class="parent">
        <Color  v-for="n in colors"  :key="n.id" 
        :color="n.color" 
        :title="n.name" 
        :subtitle="n.color"         
        :year="n.year" 
        :pantone-value="n.pantone_value"  
        v-on:callback="modal"
        >             
        </Color>
      </div>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition"   >
          <div class="close-button">
              <v-btn icon dark v-on:click="closeDialog">
                <v-icon>mdi-close</v-icon>
              </v-btn>
          </div>
          <Color class='full-height px-2'
          :color="dialogData.color" 
          :title="dialogData.title" 
          :subtitle="dialogData.subtitle"         
          :year="dialogData.year" 
          :pantone-value="dialogData.pantoneValue" 
          v-on:callback="closeDialog" 
          >
          </Color>
      </v-dialog>
    </div>

</template>

<script>
  import axios from 'axios';
  import Color from './Color';

  export default {
    name: 'Content',
    components: {
      Color
    },
    data: () => ({
      colors:[],
      errors:[],
      dialog:false,
      dialogData: {
        color:"" ,
        title:"" ,
        subtitle:"" ,
        year:0 ,
        pantoneValue:""  
      }
    }),
    created() {
      this.loadColors();
    },
    computed: {
      page () {
        return this.$store.getters.page;
      }
    },
    watch: {
      page (newPage) {
        this.loadColors(parseInt(newPage,10))
      }
    },
    methods: {
      doCopy: function (text) {
        this.$copyText(text).then(function (e) {
          console.log(e)
        }, function (e) {
          console.log(e)
        })
        setTimeout(function(){
          this.closeDialog();
        }.bind(this),5000)
      },
      closeDialog() {
        this.dialog = false
      },
      modal(color) {
        this.dialog = true  
        this.dialogData.color = color.color;
        this.dialogData.subtitle = '¡Copiado!'
        this.dialogData.year = color.year
        this.dialogData.pantoneValue = color.pantoneValue
        this.dialogData.id = color.id
        this.doCopy(color.color)
      },
      async loadColors (page=1,per_page=9) {
        axios.get(`https://reqres.in/api/colors?per_page=${per_page}&page=${page}`)
        .then(response => {
          // alert(JSON.stringify(response.data))
          this.colors = response.data.data
          this.$store.commit('setTotalPages', parseInt(response.data.total_pages))
        })
        .catch(e => {
          this.errors.push(e)
        })
      }
    }
  }
</script>
<style>
.parent-wrapper {
  height: 100%;
  width: 100%;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height:100%;
}
.full-height{
  height:100%;
}
.close-button{
  position:absolute;
  z-index:20;
  left: 96%;
}
</style>