<template>
      <v-footer
        absolute
        class="font-weight-medium"
      >
        <v-col 
          class="text-left"
          cols="6"
        >
          <v-btn class="primary" v-if="showPrevious" v-on:click="previous">
          <v-icon dark right>mdi-arrow-left</v-icon>
          Anterior
          </v-btn>
        </v-col>

        <v-col 
          class="text-right"
          cols="6"
        >
          <v-btn class="primary" v-if="showNext"  v-on:click="next">
          Siguiente
           <v-icon dark right>mdi-arrow-right</v-icon>

          </v-btn>
        </v-col>
      </v-footer>
</template>
<script>
  export default {
    name: 'Footer',
    data: () => ({
      colors:[],
      errors:[]
    }),
    computed: {
        showPrevious: () => {
            return true || (this.$store.getters.page > 1 && this.$store.getters.totalPages > 1);
        },
        showNext:  () => {
            return true || (this.$store.getters.page < this.$store.getters.totalPages && this.$store.getters.totalPages > 1);
        }
    },
    methods: {
        previous () {
          this.$store.commit('setPage',  this.$store.getters.page - 1 )
        },
        next () {
          this.$store.commit('setPage',  this.$store.getters.page + 1 )
        }
    }
  }

</script>
<style>
</style>