<template>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-col cols="12" class="text-sm-center" >
          Colores
      </v-col>

      <v-spacer></v-spacer>

    </v-app-bar>
</template>