<template>
  <v-app>
    <Header/>
    <v-content>
      <Content/>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>
import Content from './components/Content';
import Header from './components/Header';
import Footer from './components/Footer';

export default {
  name: 'App',

  components: {
    Content,Header, Footer
  },

  data: () => ({
    //
  }),
};
</script>
<style>
  .v-content {
    padding-bottom:70px !important;
  }
</style>